<main>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success tempData">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger tempData">
            @TempData["ErrorMessage"]
        </div>
    }

    <section class="row" aria-labelledby="aspnetTitle">
        <h1 class="text-dark" id="aspnetTitle">Pizzicanta, la pizza tanta</h1>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            @if (ViewBag.IsUserAdmin == null || !ViewBag.IsUserAdmin)
            {
                <div class="card">
                    <img class="card-img-top" src="~/Content/img/pizza-abba.jpg" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Le nostre pizze</h5>
                        <p class="card-text">Scopri le nostre deliziose pizze.</p>
                        <a href="@Url.Action("Index", "Articoli")" class="btn btn-primary">Vai al menu</a>
                    </div>
                </div>
            }

        </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.tempData').fadeOut('fast');
            }, 4000);
        });

    </script>

</main>

